
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
}

<h2>Login Successfully</h2>

